<ion-content>
    <ion-segment [(ngModel)]="calendar.mode">
        <ion-segment-button value="month">
            <ion-label>Mes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="week">
            <ion-label>Semana</ion-label>
        </ion-segment-button>
        <ion-segment-button value="day">
            <ion-label>Dia</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-row class="ion-justify-content-center">
        <ion-col size="2">
            <ion-button fill="clear" (click)="back()">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>

        <ion-col size="8" class="ion-text-center">
            <h2>{{ viewTitle}}</h2>
        </ion-col>

        <ion-col size="2">
            <ion-button fill="clear" (click)="next()">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>

    <calendar
        [eventSource]="this.accountService.tarefas"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onTitleChanged)="onViewTitleChanged($event)"
        >
    </calendar>

    <ion-fab style="margin-right:10px; margin-bottom:10px" horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="showModal()" color="light">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

