<ion-header>
    <ion-toolbar>
        <ion-title>Nova tarefa</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content clas="ion-no-padding">
    <ion-list>
        <ion-item>
            <ion-input placeholder="Titulo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Data de Inicio</ion-label>
            <ion-datetime value="2020-10-19" placeholder="Selecionar Data de Inicio"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Horario de Inicio</ion-label>
            <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="2020-10-19T07:43Z"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Horario de Termino</ion-label>
            <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="2020-10-19T07:43Z"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Durante o dia todo</ion-label>
            <ion-toggle slot="end" false></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>
