<ion-header>
    <ion-toolbar>
        <ion-title>Teste de Tarefas</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
    <ion-list>
        <ion-item>
            <ion-input [(ngModel)]="this.newTaskName" placeholder="Titulo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Data de Inicio</ion-label>
            <ion-datetime [(ngModel)]="this.inicioData" displayFormat="YYYY-MM-DD" pickerFormat="DD MM YYYY" min="{{this.minDataFormatada()}}" max="{{this.maxDataFormatada(25)}}" placeholder="Selecionar Data de Inicio"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Horario de Inicio</ion-label>
            <ion-datetime [disabled]="this.allDay" [(ngModel)]="this.horarioInicio" display-format="h:mm A" picker-format="h:mm A" placeholder="Selecionar Horario de Inicio"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Horario de Termino</ion-label>
            <ion-datetime [disabled]="this.allDay" [(ngModel)]="this.horarioFim" display-format="h:mm A" picker-format="h:mm A" placeholder="Selecionar Horario de Termino"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Durante o dia todo</ion-label>
            <ion-toggle [(ngModel)]="this.allDay" slot="end" false></ion-toggle>
        </ion-item>
        
        <ion-row>
            <ion-col size="12">
                <ion-button (click)="addTask()" expand="block">Nova tarefa</ion-button>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>