<ion-header>
    <ion-toolbar>
        <ion-title>Criar tarefa</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="secondCloseModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
    <ion-list>
        <ion-item>
            <ion-input [(ngModel)]="this.newTaskName" placeholder="Titulo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="this.newTaskDescription" placeholder="Descricao"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Data de Inicio</ion-label>
            <ion-datetime (click)="this.atualizarData('Data')" (ionChange)="formatarData()" placeholder='YYYY-MM-DD' [(ngModel)]="this.inicioData" displayFormat="YYYY-MM-DD" pickerFormat="DD MM YYYY" min="{{this.minData}}" max="{{this.maxData}}"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Horario de Inicio</ion-label>
            <ion-datetime (click)="this.atualizarData('Horario')" placeholder='HH:mm' [disabled]="this.allDay || this.inicioData === ''" [(ngModel)]="this.horarioInicio" display-format="HH:mm" picker-format="HH:mm" min="{{this.inicioData}}" max="{{this.maxData}}"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Horario de Termino</ion-label>
            <ion-datetime (click)="this.atualizarData('')" placeholder='HH:mm' [disabled]="this.allDay || this.horarioInicio === ''" [(ngModel)]="this.horarioFim" display-format="HH:mm" picker-format="HH:mm" min="{{this.horarioInicio}}" max="{{this.maxData}}"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Durante o dia todo</ion-label>
            <ion-toggle [(ngModel)]="this.allDay" slot="end" false></ion-toggle>
        </ion-item>
        <ion-row>
            <ion-col size="12">
                <ion-button (click)="addTask()" expand="block">Nova tarefa</ion-button>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>