<ion-content class="ion-padding">
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/0jVsxPC/robo-1.png" alt="robo-1"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Amarelao
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Deixe seu robo com uma aparencia amarela e amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button color="warning" disabled>Adquirido!</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DgmN4J6/robo-2.png" alt="robo-2"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Verdao
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Deixe seu robo com uma aparencia verde e amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button color="warning" disabled>Adquirido!</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/7GBMPgX/robo-3.png" alt="robo-3"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Cinzao
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Deixe seu robo com uma aparencia cinza e amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button color="warning" disabled>Adquirido!</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/WnjYvS9/robo-4.png" alt="robo-4"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Vermelhao
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Deixe seu robo com uma aparencia vermelha e amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button color="warning" disabled>Adquirido!</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/7GBMPgX/robo-3.png" alt="robo-5"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Cinzao II
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Deixe seu robo com uma aparencia cinza e amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button color="warning">250 moedas</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/WnjYvS9/robo-4.png" alt="robo-6"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Vermelhao II
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Deixe eu robo com uma aparencia vermelha e amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button color="warning">350 moedas</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/jWCQGqx/robo-5.png" alt="robo-7"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Tobias, o Lendario
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Tobias ira te ajudar nas suas mais diversas tarefas, que robo amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button color="warning">500 moedas</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/V3hWpVH/robo-6.png" alt="robo-8"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Geremias, o Grande
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Geremias ira te ajudar nas suas mais diversas tarefas, que robo amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button color="warning">1000 moedas</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/TY6QkdW/robo-7.png" alt="robo-9"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Jefferson, o Precursor
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Jefferson ira te ajudar nas suas mais diversas tarefas, que robo amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button color="warning">1500 moedas</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/99VymhP/robo-8.png" alt="robo-10"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Uranio, o Elemental
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Uranio ira te ajudar nas suas mais diversas tarefas, que robo amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button color="warning">2000 moedas</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/TY6QkdW/robo-7.png" alt="robo-11"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Solenio, o Grande Sabio
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Solenio ira te ajudar nas suas mais diversas tarefas, que robo amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button color="warning">2500 moedas</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/99VymhP/robo-8.png" alt="robo-12"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Prometheus, o Alienigena
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Prometheus ira te ajudar nas suas mais diversas tarefas, que robo amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button color="warning">3500 moedas</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>


