<ion-content class="ion-padding">
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/0jVsxPC/robo-1.png" alt="robo-1"></ion-img>
                <ion-card-header>
                    <ion-card-title>
                        Isto e um teste,
                    </ion-card-title>
                    <ion-card-subtitle>
                        SOMENTE um teste!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Textinho basico!
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DgmN4J6/robo-2.png" alt="robo-2"></ion-img>
                <ion-card-header>
                    <ion-card-title>
                        Isto e um teste,
                    </ion-card-title>
                    <ion-card-subtitle>
                        SOMENTE um teste!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Textinho basico!
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/7GBMPgX/robo-3.png" alt="robo-3"></ion-img>
                <ion-card-header>
                    <ion-card-title>
                        Isto e um teste,
                    </ion-card-title>
                    <ion-card-subtitle>
                        SOMENTE um teste!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Textinho basico!
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/WnjYvS9/robo-4.png" alt="robo-4"></ion-img>
                <ion-card-header>
                    <ion-card-title>
                        Isto e um teste,
                    </ion-card-title>
                    <ion-card-subtitle>
                        SOMENTE um teste!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Textinho basico!
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/7GBMPgX/robo-3.png" alt="robo-5"></ion-img>
                <ion-card-header>
                    <ion-card-title>
                        Isto e um teste,
                    </ion-card-title>
                    <ion-card-subtitle>
                        SOMENTE um teste!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Textinho basico!
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/WnjYvS9/robo-4.png" alt="robo-6"></ion-img>
                <ion-card-header>
                    <ion-card-title>
                        Isto e um teste,
                    </ion-card-title>
                    <ion-card-subtitle>
                        SOMENTE um teste!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Textinho basico!
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/jWCQGqx/robo-5.png" alt="robo-7"></ion-img>
                <ion-card-header>
                    <ion-card-title>
                        Isto e um teste,
                    </ion-card-title>
                    <ion-card-subtitle>
                        SOMENTE um teste!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Textinho basico!
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/V3hWpVH/robo-6.png" alt="robo-8"></ion-img>
                <ion-card-header>
                    <ion-card-title>
                        Isto e um teste,
                    </ion-card-title>
                    <ion-card-subtitle>
                        SOMENTE um teste!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Textinho basico!
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/TY6QkdW/robo-7.png" alt="robo-9"></ion-img>
                <ion-card-header>
                    <ion-card-title>
                        Isto e um teste,
                    </ion-card-title>
                    <ion-card-subtitle>
                        SOMENTE um teste!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Textinho basico!
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/99VymhP/robo-8.png" alt="robo-10"></ion-img>
                <ion-card-header>
                    <ion-card-title>
                        Isto e um teste,
                    </ion-card-title>
                    <ion-card-subtitle>
                        SOMENTE um teste!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Textinho basico!
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/TY6QkdW/robo-7.png" alt="robo-11"></ion-img>
                <ion-card-header>
                    <ion-card-title>
                        Isto e um teste,
                    </ion-card-title>
                    <ion-card-subtitle>
                        SOMENTE um teste!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Textinho basico!
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/99VymhP/robo-8.png" alt="robo-12"></ion-img>
                <ion-card-header>
                    <ion-card-title>
                        Isto e um teste,
                    </ion-card-title>
                    <ion-card-subtitle>
                        SOMENTE um teste!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Textinho basico!
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>


