<ion-content class="ion-padding">
    <ion-row>
        <ion-col size="12">
            <ion-card>
                <ion-img src="https://i.ibb.co/0jVsxPC/robo-1.png" alt="robo-1"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Amarelão
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Deixe seu robô com uma aparência amarela e amigavel!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button (click)="this.comprarVisual('Amarelao',100,'https://i.ibb.co/0jVsxPC/robo-1.png')" color="warning" [disabled]="this.accountService.verificaVisual('Amarelao')">{{this.accountService.verificaVisual('Amarelao') ? 'Adquirido!' : 100}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col size="12">
            <ion-card>
                <ion-img src="https://i.ibb.co/DgmN4J6/robo-2.png" alt="robo-2"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Verdão
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Deixe seu robô com uma aparência verde e amigável!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button (click)="this.comprarVisual('Verdao',100,'https://i.ibb.co/DgmN4J6/robo-2.png')" color="warning" [disabled]="this.accountService.verificaVisual('Verdao')">{{this.accountService.verificaVisual('Verdao') ? 'Adquirido!' : 100}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col size="12">
            <ion-card>
                <ion-img src="https://i.ibb.co/7GBMPgX/robo-3.png" alt="robo-3"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Cinzão
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Deixe seu robô com uma aparência cinza e amigável!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button (click)="this.comprarVisual('Cinzao',100,'https://i.ibb.co/7GBMPgX/robo-3.png')" color="warning" [disabled]="this.accountService.verificaVisual('Cinzao')">{{this.accountService.verificaVisual('Cinzao') ? 'Adquirido!' : 100}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col size="12">
            <ion-card>
                <ion-img src="https://i.ibb.co/WnjYvS9/robo-4.png" alt="robo-4"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Vermelhão
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Deixe seu robô com uma aparência vermelha e amigável!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button (click)="this.comprarVisual('Vermelhao',100,'https://i.ibb.co/WnjYvS9/robo-4.png')" color="warning" [disabled]="this.accountService.verificaVisual('Vermelhao')">{{this.accountService.verificaVisual('Vermelhao') ? 'Adquirido!' : 100}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col size="12">
            <ion-card>
                <ion-img src="https://i.ibb.co/7GBMPgX/robo-3.png" alt="robo-5"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Cinzão II
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Deixe seu robô com uma aparência cinza e amigável!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button (click)="this.comprarVisual('Cinzao II',150,'https://i.ibb.co/7GBMPgX/robo-3.png')" color="warning" [disabled]="this.accountService.verificaVisual('Cinzao II')">{{this.accountService.verificaVisual('Cinzao II') ? 'Adquirido!' : 150}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col size="12">
            <ion-card>
                <ion-img src="https://i.ibb.co/WnjYvS9/robo-4.png" alt="robo-6"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Vermelhão II
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Deixe eu robô com uma aparência vermelha e amigável!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button (click)="this.comprarVisual('Vermelhao II',200,'https://i.ibb.co/WnjYvS9/robo-4.png')" color="warning" [disabled]="this.accountService.verificaVisual('Vermelhao II')">{{this.accountService.verificaVisual('Vermelhao II') ? 'Adquirido!' : 200}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12">
            <ion-card>
                <ion-img src="https://i.ibb.co/jWCQGqx/robo-5.png" alt="robo-7"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Tobias, o Lendario
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Tobias irá te ajudar nas suas mais diversas tarefas, que robo amigável!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button (click)="this.comprarVisual('Tobias',250,'https://i.ibb.co/jWCQGqx/robo-5.png')" color="warning" [disabled]="this.accountService.verificaVisual('Tobias')">{{this.accountService.verificaVisual('Tobias') ? 'Adquirido!' : 250}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12">
            <ion-card>
                <ion-img src="https://i.ibb.co/V3hWpVH/robo-6.png" alt="robo-8"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Geremias, o Grande
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Geremias irá te ajudar nas suas mais diversas tarefas, que robo amigável!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button (click)="this.comprarVisual('Geremias',500,'https://i.ibb.co/V3hWpVH/robo-6.png')" color="warning" [disabled]="this.accountService.verificaVisual('Geremias')">{{this.accountService.verificaVisual('Geremias') ? 'Adquirido!' : 500}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12">
            <ion-card>
                <ion-img src="https://i.ibb.co/TY6QkdW/robo-7.png" alt="robo-9"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Jefferson, o Precursor
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Jefferson irá te ajudar nas suas mais diversas tarefas, que robo amigável!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button (click)="this.comprarVisual('Jefferson',1000,'https://i.ibb.co/TY6QkdW/robo-7.png')" color="warning" [disabled]="this.accountService.verificaVisual('Jefferson')">{{this.accountService.verificaVisual('Jefferson') ? 'Adquirido!' : 1000}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12">
            <ion-card>
                <ion-img src="https://i.ibb.co/99VymhP/robo-8.png" alt="robo-10"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Urânio, o Elemental
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Urânio irá te ajudar nas suas mais diversas tarefas, que robo amigável!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button (click)="this.comprarVisual('Uranio',1500,'https://i.ibb.co/99VymhP/robo-8.png')" color="warning" [disabled]="this.accountService.verificaVisual('Uranio')">{{this.accountService.verificaVisual('Uranio') ? 'Adquirido!' : 1500}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12">
            <ion-card>
                <ion-img src="https://i.ibb.co/TY6QkdW/robo-7.png" alt="robo-11"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Solênio, o Grande Sabio
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Solênio irá te ajudar nas suas mais diversas tarefas, que robo amigável!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button (click)="this.comprarVisual('Solenio',2500,'https://i.ibb.co/TY6QkdW/robo-7.png')" color="warning" [disabled]="this.accountService.verificaVisual('Solenio')">{{this.accountService.verificaVisual('Solenio') ? 'Adquirido!' : 2500}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="12">
            <ion-card>
                <ion-img src="https://i.ibb.co/99VymhP/robo-8.png" alt="robo-12"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Prometheus, o Aliênigena
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Prometheus irá te ajudar nas suas mais diversas tarefas, que robo amigável!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-button (click)="this.comprarVisual('Prometheus',3000,'https://i.ibb.co/99VymhP/robo-8.png')" color="warning" [disabled]="this.accountService.verificaVisual('Prometheus')">{{this.accountService.verificaVisual('Prometheus') ? 'Adquirido!' : 3000}}</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>


