<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-fab horizontal="end" vertical="start" slot="fixed">
                <ion-fab-button color="light" style="padding:6px">
                    <div id="profileImage">{{this.accountService.obterNome()}}</div>
                </ion-fab-button>
                <ion-fab-list side="start">
                    <ion-fab-button color="light" routerLink="/home/cronogram/guardians">
                        <ion-text color="primary">
                            <p>XP<ion-progress-bar color="primary" [value]="this.accountService.verXPGuardiaoEquipado()"></ion-progress-bar></p>
                        </ion-text>
                    </ion-fab-button>
                    <ion-fab-button color="light" routerLink="/home/cronogram/skinstore">
                        <ion-text color="primary">
                            <p style="font-size:10px; margin:0px">Moedas<ion-text color="warning"><p style="font-size:10px; margin:0px">{{this.accountService.moedas}}</p></ion-text></p>
                        </ion-text>
                    </ion-fab-button>
                    <ion-fab-button color="light" routerLink="/home/cronogram/prizes">
                        <ion-text color="primary">
                            <p style="font-size:10px; margin:0px">Premios<ion-text color="danger"><p style="font-size:10px; margin:0px">{{this.accountService.verConquistas()}}</p></ion-text></p>
                        </ion-text>
                    </ion-fab-button>
                </ion-fab-list>
            </ion-fab>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-menu contentId="menu-content" side="start" type="overlay">
    <ion-header>
        <ion-toolbar>
            <ion-menu-toggle><ion-item menuClose><ion-title>Menu</ion-title></ion-item></ion-menu-toggle>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle>
                <ion-item routerLink="/home/cronogram/calendar">
                    <ion-icon slot="start" name="calendar-sharp"></ion-icon>
                    <ion-label>Cronograma</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerLink="/home/cronogram/guardians">
                    <ion-icon slot="start" name="school-sharp"></ion-icon>
                    <ion-label>Guardioes</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerLink="/home/cronogram/prizes">
                    <ion-icon slot="start" name="medal-sharp"></ion-icon>
                    <ion-label>Premios</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerLink="/home/cronogram/skinstore">
                    <ion-icon slot="start" name="storefront-sharp"></ion-icon>
                    <ion-label>Loja de Visuais</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerLink="/home/cronogram/settings">
                    <ion-icon slot="start" name="settings-sharp"></ion-icon>
                    <ion-label>Configuracoes</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-content class="ion-padding">
    <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-content>
