<ion-content class="ion-padding">

    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DpR9T00/pergaminho-aplicativo.png" alt="conquista-1"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Novato
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu sua primeira tarefa.
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DpR9T00/pergaminho-aplicativo.png" alt="conquista-2"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Aprendiz
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu suas tarefas durante 7 dias seguidos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DpR9T00/pergaminho-aplicativo.png" alt="conquista-3"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Guerreiro
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu suas tarefas durante 15 dias seguidos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DpR9T00/pergaminho-aplicativo.png" alt="conquista-4"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Persistente
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu suas tarefas durante 30 dias seguidos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DpR9T00/pergaminho-aplicativo.png" alt="conquista-5"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Audacioso
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou 10 conquistas!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DpR9T00/pergaminho-aplicativo.png" alt="conquista-6"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Praticamente uma Maquina
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou 365 dias seguidos de trabalho duro usando o aplicativo.
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/tcs1WNx/camisa.png" alt="conquista-7"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Chique
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Comprou sua primeira aparencia!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/tcs1WNx/camisa.png" alt="conquista-8"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Refinado
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Possui um estoque de 5 aparencias!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/tcs1WNx/camisa.png" alt="conquista-9"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Aspirante da Moda
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Voce nao acha que poderia doar uma de suas 10 aparencias? :D
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/tcs1WNx/camisa.png" alt="conquista-10"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Chavoso
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Agora que voce ja tem 15 aparencias, ja da pra ir pro baile em !?
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/tcs1WNx/camisa.png" alt="conquista-11"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Estilo Unico
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Combinacoes das 20 roupas o tornam o unico, parabens!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/tcs1WNx/camisa.png" alt="conquista-12"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Burgues
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Comprou todas as skins!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
  
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/Z8ckt1s/haltere.jpg" alt="conquista-13"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Nem grande, nem pequeno
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou sua primeira tarefa classificada com Exercicios!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/Z8ckt1s/haltere.jpg" alt="conquista-14"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Frango
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 3 tarefas classificadas como Exercicios!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/Z8ckt1s/haltere.jpg" alt="conquista-15"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        De tudo um pouco
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 7 dias seguidos de Exercicios!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/Z8ckt1s/haltere.jpg" alt="conquista-16"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Incansavel
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 15 dias seguidos de Exercicios!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/Z8ckt1s/haltere.jpg" alt="conquista-17"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Imbativel
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 30 dias seguidos de Exercicios!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/Z8ckt1s/haltere.jpg" alt="conquista-18"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Monstro
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou todas as conquistas relacionadas a Exercicios!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/cyZGLtY/livro.png" alt="conquista-19"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Aprendiz de Sabio
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou sua primeira tarefa classificada como Estudos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/cyZGLtY/livro.png" alt="conquista-20"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Estudante
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 3 tarefas classificadas como Estudos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/cyZGLtY/livro.png" alt="conquista-21"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Garoto Esforcado
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 7 dias seguidos de Estudos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/cyZGLtY/livro.png" alt="conquista-22"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Sabe Tudo!
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 15 dias seguidos de Estudos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/cyZGLtY/livro.png" alt="conquista-23"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Prodigio
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 30 dias seguidos de Estudos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/cyZGLtY/livro.png" alt="conquista-24"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Intelectual
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou todas as conquistas relacionadas a Estudos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>
