ion-card {
    padding-bottom: 30px;
}

ion-card ion-card-header ion-card-title {
    font-size: 24px;
    margin-bottom: 15px;
}

ion-card ion-card-header ion-card-subtitle {
    font-size: 14px;
    margin-bottom: 0px;
}


/*IPHONE 5/SE*/
@media (min-width: 320px) and (max-width: 568px) {

}
/*GALAXY S5*/
@media (min-width: 360px) and (max-width: 640px) {

}
/*IPHONE 6/7/8*/
@media (min-width: 375px) and (max-width: 667px) {

}
/*PIXEL 2*/
@media (min-width: 411px) and (max-width: 731px) {

}
/*IPHONE 6/7/8 PLUS*/
@media (min-width: 414px) and (max-width: 736px) {

}
/*IPAD*/
@media (min-width: 768px) and (max-width: 1024px) {

}
/*4K Larger*/
@media (min-width: 1400px) and (max-width: 1920px) {

}
