<ion-content class="ion-padding">

    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DpR9T00/pergaminho-aplicativo.png" alt="conquista-0"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Novato
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu sua primeira tarefa.
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(0)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DpR9T00/pergaminho-aplicativo.png" alt="conquista-1"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Aprendiz
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 3 tarefas diferentes!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(1)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DpR9T00/pergaminho-aplicativo.png" alt="conquista-2"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Guerreiro
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 5 tarefas diferentes!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(2)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DpR9T00/pergaminho-aplicativo.png" alt="conquista-3"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Persistente
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 7 tarefas diferentes!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(3)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DpR9T00/pergaminho-aplicativo.png" alt="conquista-4"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Audacioso
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 15 tarefas diferentes!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(4)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/DpR9T00/pergaminho-aplicativo.png" alt="conquista-5"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Praticamente uma Maquina
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 30 tarefas de trabalho duro usando o aplicativo.
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(5)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/tcs1WNx/camisa.png" alt="conquista-6"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Chique
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Comprou sua primeira aparencia!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(6)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/tcs1WNx/camisa.png" alt="conquista-7"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Refinado
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Possui um estoque de 5 aparencias!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(7)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/tcs1WNx/camisa.png" alt="conquista-8"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Aspirante da Moda
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Voce nao acha que poderia doar uma de suas 10 aparencias? :D
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(8)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/tcs1WNx/camisa.png" alt="conquista-9"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Chavoso
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Agora que voce ja tem 15 aparencias, ja da pra ir pro baile em !?
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(9)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/tcs1WNx/camisa.png" alt="conquista-10"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Estilo Unico
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Combinacoes das 20 roupas o tornam o unico, parabens!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(10)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/tcs1WNx/camisa.png" alt="conquista-11"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Burgues
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Comprou todas as skins!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(11)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
  
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/Z8ckt1s/haltere.jpg" alt="conquista-12"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Nem grande, nem pequeno
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou sua primeira tarefa classificada como Exercicios!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(12)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/Z8ckt1s/haltere.jpg" alt="conquista-13"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Frango
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou 3 tarefas classificada como Exercicios!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(13)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/Z8ckt1s/haltere.jpg" alt="conquista-14"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        De tudo um pouco
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou 5 tarefas classificada como Exercicios!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(14)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/Z8ckt1s/haltere.jpg" alt="conquista-15"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Incansavel
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou 7 tarefas classificada como Exercicios!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(15)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/Z8ckt1s/haltere.jpg" alt="conquista-16"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Imbativel
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou 15 tarefas classificada como Exercicios!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(16)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/Z8ckt1s/haltere.jpg" alt="conquista-17"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Monstro
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou 30 tarefas classificada como Exercicios!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(17)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/cyZGLtY/livro.png" alt="conquista-18"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Aprendiz de Sabio
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou sua primeira tarefa classificada como Estudos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(18)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/cyZGLtY/livro.png" alt="conquista-19"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Estudante
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 3 tarefas classificadas como Estudos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(19)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/cyZGLtY/livro.png" alt="conquista-20"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Garoto Esforcado
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 5 tarefas classificadas como Estudos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(20)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/cyZGLtY/livro.png" alt="conquista-21"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Sabe Tudo!
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 7 tarefas classificadas como Estudos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(21)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/cyZGLtY/livro.png" alt="conquista-22"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Prodigio
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 15 tarefas classificadas como Estudos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(22)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/cyZGLtY/livro.png" alt="conquista-23"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Intelectual
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 30 tarefas classificadas como Estudos!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(23)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/nMDyfq3/dieta.jpg" alt="conquista-24"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Guardião Alimentação
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou sua primeira tarefa classificada como Alimentação!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(24)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/nMDyfq3/dieta.jpg" alt="conquista-25"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Açucar aqui não em!
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou 3 tarefas classificada como Alimentação!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(25)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/nMDyfq3/dieta.jpg" alt="conquista-26"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Pão nunca mais!
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou 5 tarefas classificada como Alimentação!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(26)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/nMDyfq3/dieta.jpg" alt="conquista-27"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Chocolate? Aqui não!
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou 7 tarefas classificada como Alimentação!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(27)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/nMDyfq3/dieta.jpg" alt="conquista-28"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Gladiador
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou 15 tarefas classificada como Alimentação!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(28)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/nMDyfq3/dieta.jpg" alt="conquista-29"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Estilo Primal
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou 30 tarefas classificada como Alimentação!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(29)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/kx0gFbk/produtividade.png" alt="conquista-30"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Guardião produtivo
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Completou sua primeira tarefa classificada como produtividade!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(30)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/kx0gFbk/produtividade.png" alt="conquista-31"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Estagiário
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 3 tarefas classificadas como produtividade!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(31)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/kx0gFbk/produtividade.png" alt="conquista-32"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Junior
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 5 tarefas classificadas como produtividade!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(32)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/kx0gFbk/produtividade.png" alt="conquista-33"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Pleno
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 7 tarefas classificadas como produtividade!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(33)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/kx0gFbk/produtividade.png" alt="conquista-34"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        Senior
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 15 tarefas classificadas como produtividade!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(34)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-img src="https://i.ibb.co/kx0gFbk/produtividade.png" alt="conquista-35"></ion-img>
                <ion-card-header>
                    <ion-card-title class="ion-text-center">
                        CEO
                    </ion-card-title>
                    <ion-card-subtitle class="ion-text-center">
                        Cumpriu 30 tarefas classificadas como produtividade!
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="ion-text-center">
                        <ion-row expand="block">
                            <ion-col>
                                <ion-progress-bar color="primary" [value]="this.accountService.obterConquista(35)"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>
