<ion-content class="ion-padding">
    
    <ion-row>
        <ion-col>
            <ion-text class="ion-text-center" color="primary">
                <h1>
                    Qual robo voce deseja escolher?
                </h1>
            </ion-text>
        </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center">
        <ion-col size="auto" style="padding-right:80px">
            <ion-text class="ion-text-center" color="primary">
                <p>Personal</p>
            </ion-text>
            <img src="https://i.ibb.co/0jVsxPC/robo-1.png"  width="90px" height="90px" style="border-radius:50%; border:1px; border-color:black;">
        </ion-col>
        <ion-col size="auto">
            <ion-text class="ion-text-center" color="primary">
                <p>Mentor</p>
            </ion-text>
            <img src="https://i.ibb.co/DgmN4J6/robo-2.png"  width="90px" height="90px" style="border-radius:50%; border:1px; border-color:black;">
        </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center">
        <ion-col style="padding-right:80px; padding-bottom:10px" size="auto">
            <ion-text class="ion-text-center" color="primary">
                <p>Dieta</p>
            </ion-text>
            <img src="https://i.ibb.co/7GBMPgX/robo-3.png" width="90px" height="90px" style="border-radius:50%; border:1px; border-color:black;">
        </ion-col>
        <ion-col style="padding-bottom:30px" size="auto">
            <ion-text class="ion-text-center" color="primary">
                <p>Produtividade</p>
            </ion-text>
            <img src="https://i.ibb.co/WnjYvS9/robo-4.png" width="90px" height="90px" style="border-radius:50%; border:1px; border-color:black;">
        </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
            <ion-button color="primary" expand="block" shape="round" routerLink="/home/cronogram">
                <p>Confirmar</p>
                <ion-icon name="send-sharp" slot="end"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>

</ion-content>