<ion-content class="ion-padding">
    
    <ion-row>
        <ion-col>
            <ion-text class="ion-text-center" color="primary">
                <h1>
                    Qual robo voce deseja escolher?
                </h1>
            </ion-text>
        </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
            <ion-text class="ion-text-center" color="primary">
                <p>Alimentacao</p>
            </ion-text>
            <img src="https://pixy.org/src/10/102286.png"  width="90px" height="90px">
        </ion-col>
        <ion-col size="auto">
            <ion-text class="ion-text-center" color="primary">
                <p>Educ. Fisica</p>
            </ion-text>
            <img src="https://pixy.org/src/10/102286.png"  width="90px" height="90px">
        </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
            <ion-text class="ion-text-center" color="primary">
                <p>Estudos</p>
            </ion-text>
            <img src="https://pixy.org/src/10/102286.png" width="90px" height="90px">
        </ion-col>
        <ion-col size="auto">
            <ion-text class="ion-text-center" color="primary">
                <p>Produtividade</p>
            </ion-text>
            <img src="https://pixy.org/src/10/102286.png" width="90px" height="90px">
        </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
            <ion-button color="primary" expand="block" shape="round" routerLink="/home/cronogram">
                <p>Confirmar</p>
                <ion-icon name="send-sharp" slot="end"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>

</ion-content>